// green: 4BA55F
// orange: DF6741
// yellow: EBC445
// dark red: 6E140C
// brick red: 942B26
/*
logo:
⁃text: 2F7040
⁃tree: 8B673D
⁃leaf: 75B656
upper banner:
⁃background: C0F5BA
⁃features, support, etc.: 42882A
⁃all borders: black (000000)
⁃sign up filler + all mouse hover fillers: 2F7040
lower info section:
⁃background: C0F5BA
⁃borders: black (000000)
⁃“get started” filler: 2F7040
⁃“New!” module notif: BD6C2C
*/

$theme-colors: (
  "light":      #C1F5BA,
  "dark":      #2F7040 
);

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 2.0rem,
  8: 1.5rem,
  9: 1.0rem,
  10: 0.5rem,
);
@import "./scss/bootstrap";
