{% import "macros/input_macros.html" as input %}
{% extends "public/templates/base_template.html" %}

{% block title %}
   Login 
{% endblock %}


{% block main %}

    <!-- Display Error if User Failed to Log in -->
    {% if error != None %}    
        <div class="alert alert-danger fade show text-center">
            <strong>Error:</strong>
            {{ error }}
            Make sure you entered the correct email and password or try <a href="/signup">signing up for an account.</a>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
        
            <div class="col">
                <div class="card mx-auto border-dark" style="width:30rem;">
                    <div class="card-body">
                    <h2 class="card-title text-center">Log in to Your Account</h1>
                    
                    <form action="/login" method="post">
                    {{ input.field(
                        label = "Email",
                        type = "email",
                        name = "email"
                    )}}

                    {{ input.field(
                        label = "Password",
                        type = "password",
                        name = "password"
                    )}}

                    {{ input.submit(text="Log In", theme="btn-dark") }}
                    </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
