{% extends "public/templates/base_template.html" %}

{% block title %}
    Store - {{ module["name"] }}
{% endblock %}


{% block main %}
    
    <div class="container mb-4">
        <div class="row">
            <div class="text-center mb-4">
                <img src="{{ url_for('static', filename='img/PlaceholderBanner.svg') }}" class="img-fluid" alt="Product Image">
            </div>

            <h1 class="display-4">{{ module["name"] }}</h4>
            <hr>

            <div class ="container">
                <div class="row">
                    <div class="col-8">
                        <p>{{ module["description"] }}</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus vitae congue mauris rhoncus aenean vel elit. Lacus vel facilisis volutpat est velit egestas dui. 
                            Cras semper auctor neque vitae tempus quam pellentesque nec nam. Interdum velit laoreet id donec ultrices tincidunt arcu. Id nibh tortor id aliquet lectus proin. Sagittis orci a scelerisque purus semper. Consequat mauris nunc congue nisi vitae suscipit. 
                            Risus sed vulputate odio ut enim blandit volutpat maecenas volutpat. Consectetur a erat nam at lectus. Nulla porttitor massa id neque aliquam. Elementum integer enim neque volutpat ac tincidunt. In fermentum posuere urna nec tincidunt praesent semper feugiat.
                        </p>
                        <br>
                        <p>
                            Scelerisque purus semper eget duis at tellus at urna condimentum. Urna nunc id cursus metus aliquam eleifend mi in nulla. Quis risus sed vulputate odio. Malesuada proin libero nunc consequat interdum varius sit amet mattis. Purus sit amet volutpat consequat mauris. 
                            Tortor at auctor urna nunc id cursus metus. Donec et odio pellentesque diam volutpat commodo sed. Sit amet purus gravida quis. Duis at consectetur lorem donec massa sapien. Vivamus arcu felis bibendum ut tristique et egestas quis ipsum. Aenean euismod elementum nisi quis eleifend quam adipiscing vitae. 
                            Quis auctor elit sed vulputate mi. Ut eu sem integer vitae justo eget magna fermentum. Non arcu risus quis varius quam quisque id diam.
                        </p>
                    </div>

                    <div class="col-2">
                        <div class="card border-dark" style="width: 18rem;">
                            <div class="card-body">

                                <h5 class="card-title text-center">About the Author</h5>
                                <img src="{{ url_for('static', filename='img/PlaceholderImage.svg') }}" class="card-img-top" alt="Product Image">
                                <h6 class="card-subtitle mb-2 mt-2 text-center text-muted">{{ author["name"] }}</h6>
                                
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Email: {{ author["email"] }}</li>
                                    <li class="list-group-item">Phone: {{ author["phone"] }}</li>
                                    <li class="list-group-item"></li>
                                </ul>

                                <div class="text-center">
                                    <a type="button" class="btn btn-outline-dark mb-2" href="/profiles/{{ author['_id'] }}">View Profile</a>
                                    <a type="button" class="btn btn-dark mb-2" href="#">Buy Now</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
