{% extends "public/templates/base_template.html" %}
{% import "macros/input_macros.html" as input %}
{% block title %}
    Profile
{% endblock title %}

{% block main %}

<div class="container">
    
    <!-- Display Error or Success -->
    {% if success == True %}
        <div class="alert alert-success fade show text-center">
            <strong>Success!</strong>
            Your module was created succesfully!
        </div>
    {% elif success == False %}
        <div class="alert alert-danger fade show text-center">
            <strong>Error:</strong>
            {{ error }}
        </div>
    {% endif %}

    <div class="row">
    <!-- Basic Info -->
        <div class="col">
            <div class="card mx-auto" style="width:30rem;">
                <div class="card-body">
                    <h3 class="card-title text-center">Basic Information</h2> 
                    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Name: </strong>{{ session["user"]["name"] }}
                        </li>

                        <li class="list-group-item">
                            <strong>Email: </strong>{{ session["user"]["email"] }}
                        </li>

                        <li class="list-group-item">
                            <strong>Phone: </strong>{{ session["user"]["Phone"] }}
                        </li>

                        <li class="list-group-item">
                            <strong>User Role: </strong>{{ session["user"]["role"] }}
                        </li>
                     </ul>
                </div>
            </div>
        </div>

        <!-- Vendor Module Creation -->
        {% if session["user"]["role"] == "VENDOR" %}
        <div class="col">
            <div class="card mx-auto" style="width:30rem;">
                <div class="card-body">
                    <h3 class="card-title text-center">Create a Module</h2> 
                    <form action="/profile" method="POST" name="moduleform"> 
                                                        
                        {{ input.field(
                             label="Module Name",
                             type="text",
                             name="moduleName"
                        )}}
                       
                        <div class="fom-group mb-2">
                            <label>Module Description</label>
                            <textarea class="form-control" name="moduleDescr" maxlength="150" rows="3" style="resize:none;" required></textarea>
                        </div>

                        <div class="form-group mb-2">
                            <label>Module Price</label>
                            <input class="form-control" name="modulePrice" type="number" min="1" step="any" required>
                        </div>

                        <div class="text-center mt-4">
                            {{ input.submit(text="Create", theme="btn-dark") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}
