{% extends "public/templates/base_template.html" %}
{% block title %}
    {{ user['name'] }}'s Profile
{% endblock %}


{% block main %}
<div class="container">

    <div class="row">
        <div class="text-center mb-4">
            <img src="{{ url_for('static', filename='img/PlaceholderBanner.svg') }}" class="img-fluid" alt="Product Image">
        </div>
    </div>

    <div class= "row mb-4">
        <div class="col">
            <div class="card border-dark mx-auto" style="width: 30rem;" >
                <div class="card-body">
                    <h3 class="card-title text-center">Basic Information</h2> 

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Name: </strong>{{ user["name"] }}
                        </li>

                        <li class="list-group-item">
                            <strong>Email: </strong>{{ user["email"] }}
                        </li>

                        <li class="list-group-item">
                            <strong>Phone: </strong>{{ user["phone"] }}
                        </li>

                        <li class="list-group-item">
                            <strong>User Role: </strong> {{ user["role"] }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="card border-dark mx-auto" >
            <div class="card-body">
                <h3 class="card-title text-center">Biography</h2> 
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus vitae congue mauris rhoncus aenean vel elit.
                    Lacus vel facilisis volutpat est velit egestas dui. Cras semper auctor neque vitae tempus quam pellentesque nec nam. Interdum velit laoreet id donec ultrices tincidunt arcu. Id nibh tortor id aliquet lectus proin. Sagittis orci a scelerisque purus semper. 
                    Consequat mauris nunc congue nisi vitae suscipit. Risus sed vulputate odio ut enim blandit volutpat maecenas volutpat. Consectetur a erat nam at lectus. Nulla porttitor massa id neque aliquam. Elementum integer enim neque volutpat ac tincidunt. 
                    In fermentum posuere urna nec tincidunt praesent semper feugiat
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}


